.navbar {
    background: #1c2237;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    /* Xóa max-width để thanh menu dài hết màn hình */
    padding: 0 30px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    white-space: nowrap; /* Không xuống dòng chữ menu */
}

    .nav-links:hover {
        border-bottom: 4px solid #fff;
        transition: all 0.2s ease-out;
    }

.btn-login {
    padding: 8px 20px;
    border-radius: 4px;
    background-color: #f00946;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

    .btn-login:hover {
        background-color: #d1083e;
    }

/* Ẩn icon 3 gạch trên PC */
.menu-icon {
    display: none;
}

.btn-login-container {
    display: flex;
    align-items: center;
}

/* ======================================================
   RESPONSIVE NAVBAR (Màn hình < 960px)
   ====================================================== */
@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh; /* Menu chiếm hết chiều cao màn hình dưới */
        position: absolute;
        top: 80px;
        left: -100%; /* Mặc định ẩn sang trái */
        opacity: 0;
        transition: all 0.5s ease;
        background: #1c2237;
    }

        .nav-menu.active {
            left: 0; /* Trượt ra */
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 1000;
        }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

        .nav-links:hover {
            background-color: #fff;
            color: #1c2237;
            border-radius: 0;
        }

    .menu-icon {
        display: block; /* Hiện icon 3 gạch */
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff;
    }

    /* Ẩn nút login trên header mobile, người dùng sẽ bấm vào menu dọc (nếu bạn thêm link login vào list) */
    .btn-login-container {
        display: none;
    }
}
