:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #213547;
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Reset mặc định cho toàn bộ trang web */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden; /* Ngăn thanh cuộn ngang xuất hiện nếu nội dung quá rộng */
}

#root {
    width: 100%; /* Đảm bảo nội dung gốc chiếm hết chiều ngang */
    margin: 0;
    padding: 0;
    text-align: left; /* Reset căn lề */
}
